<div class="container">
    <div class="tarjeta" *ngFor="let key of Object.keys(Supermercado)">    
        <mat-card>
            <h3> {{Supermercado[key].title}} </h3>
            <h4> {{Supermercado[key].price}} € </h4>
            <star-rating [value]=Supermercado[key].rating 
                                totalstars:string="5" 
                                checkedcolor="yellow" 
                                uncheckedcolor="grey" 
                                size="21px" 
                                readonly:booelan="false" >
            </star-rating>
            <img [src]= Supermercado[key].filename width="120px" height="90px">
            <mat-card-actions>
                <button mat-button (click)="openDialog(Supermercado[key])">
                        <mat-icon>visibility</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    </div>
</div> 