<div class="datos" *ngFor="let key of Object.keys(productos)" >    
    <h3> {{productos[key].title}} </h3>
    <img [src]= productos[key].filename width="120px" height="90px">
    <p>{{productos[key].description}}</p>
    <star-rating [value]=productos[key].rating
            totalstars:string="5" 
            checkedcolor="yellow" 
            uncheckedcolor="grey" 
            size="15px"  
            readonly:booelan="false" >
        </star-rating>
        <h4> {{productos[key].price}} € </h4>
</div>
